Package: pirate
Version: PACKAGEVER
Architecture: amd64
Maintainer: Norman Soetbeer <norman.soetbeer@innogames.com>
Vcs-Git: https://github.com/innogames/pirate.git
Description: UDP server for client-side real-time metrics
